@model Cape.ViewModels.TransactionsListViewModel
@{
    ViewBag.Title = "Transactions in this report";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@foreach (var transaction in Model.ListOfTransactions)
{
    <div class="Transaction">
        <div class="marginBetweenTransactionItems">@Html.DisplayFor(modelItem => transaction.Amount)</div>
        <div class="marginBetweenTransactionItems">@Html.DisplayFor(modelItem => transaction.Description)</div>
        <div class="marginBetweenTransactionItems">@Html.DisplayFor(modelItem => transaction.Date)</div>
        <div class="marginBetweenTransactionItems">@Html.DisplayFor(modelItem => transaction.Category.Name)</div>
        <div id=@Html.DisplayFor(modelItem => transaction.TransactionId) class="dropdownForCategories pull-right"> @Html.DropDownList("CategoriesList", null, new { @class = "CategoriesList" })</div>
    </div>
}
